html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  /* line-height: 1.65; */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  max-width: 800px;
  border-radius: 20px;
  background-color: white;
}

/* HERO SECTION */

.hero {
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #5d8bf4;
  display: flex;
  flex-wrap: wrap;
}

.hero .image {
  border: 5px white solid;
  flex: 0.5;
  height: 150px;
  margin-left: 60px;
  margin-top: 30px;
  position: relative;
  top: 10px;
  width: 100px;
}

.hero .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .info {
  margin-left: 55px;
  flex: 2.5;
  margin-top: 30px;
  color: #ffffff;
}

.hero .info p {
  font-size: 13px;
}

.hero .info button {
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
}

.hero .info .btn-cv {
  background: #ffffff;
}

.hero .info .btn-hire {
  color: white;
  background: #4fd3c4;
}

/* ABOUT SECTION */

.about {
  display: flex;
  padding: 10px;
}

.about .left {
  flex: 1;
}

.about .right {
  flex: 1;
  display: flex;
  margin-left: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.about .right .first {
  flex: 1;
}

.about .right .two {
  flex: 1;
}

/* CONTACT SECTION */

.contact {
  padding: 10px;
  display: flex;
  align-items: baseline;
  border-top: 1px solid #f2f2f2;
}

.form-left {
  flex: 1;
}

.form-right {
  flex: 1;
}

.form-right div h4 {
  margin: 0;
}

.form-left button {
  color: white;
  background: #5d8bf4;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  height: 2rem;
  width: 5rem;
  cursor: pointer;
}

.message-form {
  width: 100%;
  margin: 10px auto;
}

input {
  border: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 153px;
}

textarea {
  border: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 21rem;
  height: 80px;
}
